#indexH2, #indexNAV{
    background-color: orange;
}

#indexH2{
    color: white;
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 40px;
    text-align: center;
}

nav{
    color: white;
    display: flex;
    justify-content: space-between;
}

nav ul{
    display: flex;
    justify-content: space-around;
}

nav li{
    list-style: none;
}

nav li a{
    font-weight: bold;
    padding-right: 30px;
    text-decoration: none;
}

nav li a:hover, h2 a:hover{
    color: white;
    text-decoration: none;
}